<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
     <div class="container d-flex justify-content-center justify-content-md-between">

          <div class="contact-info d-flex align-items-center">
               <i class="bi bi-phone d-flex align-items-center"><span>+373 69 22 4444</span></i>
               <i class="bi bi-clock d-flex align-items-center ms-4"><span>Monday-Sunday: 24/7</span></i>
          </div>


     </div>
</div>
<header id="header" class="fixed-top d-flex align-items-cente">
     <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

          <h1 class="logo me-auto me-lg-0"><a href="index.html">Book my Table</a></h1>

          <nav id="navbar" class="navbar order-last order-lg-0">

               <i class="bi bi-list mobile-nav-toggle"></i>
               <nav id="navbar" class="navbar order-last order-lg-0">
                    <ul>
                         <li><a class="nav-link scrollto active" href="@Url.Action("Index","Home")">Home</a></li>
                         <li><a class="nav-link scrollto" href="@Url.Action("About","Home")">Despre</a></li>
                         <li><a class="nav-link scrollto" href="@Url.Action("Meniu","Home")">Menu</a></li>
                         <li><a class="nav-link scrollto" href="@Url.Action("Sali","Home")">Săli</a></li>
                         <li><a class="nav-link scrollto" href="@Url.Action("Galerie","Home")">Galerie</a></li>
                         <li><a class="nav-link scrollto" href="@Url.Action("Contact","Home")">Contact</a></li>
                         <li><a class="nav-link scrollto profile-icon" href="@Url.Action("profile", "Home")"><i class="ri-user-line"></i></a></li>

                    </ul>
               
               </nav><!-- .navbar -->
               <div id="cart-icon">
                    <i class="ri-shopping-bag-line"></i>
                    <span class="cart-item-count"></span>
               </div>
               </nav>
     </div>
</header>